<!DOCTYPE HTML>
<html lang="pt-br">
	<head>
		<meta charset="UTF-8">

		<title>Instagram Clone - WEB</title>
		
		<!-- JQuery -->
		<script src="http://code.jquery.com/jquery-3.1.1.min.js"></script>

		<!-- bootstrap - link cdn -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
	
		<!-- incluindo css -->
		<link href="css/style.css" rel="stylesheet">

		<script>
			$(document).ready(function(){

				function carregarPublicao(){

					//instanciando o xmlHTTPRequest

					const xhr = new XMLHttpRequest();

					//recebrá os dados apos o total carregamento da pagina
					xhr.onload = function(){

						if(xhr.status == 200){
							
							const response = JSON.parse(xhr.responseText);
							console.log(response);
							response.forEach(r =>{

								$('#container_timeline').append(
									'<div class="publicacao">' +
										'<span class="titulo">' + r.titulo + '</span>' +
										'<img src="http://localhost:3000/api/imagem/' + r.url_imagem +'">' +
										'<div class="comentarios" id="comentarios_'+ r._id +'"> </div>'+
										'<div class="comentar">'+
											'<input type="text" id="comentario_'+r._id+'" class="form-control input_comentario" placeHolder="Adicione um comentario...">'+
											'<button type="button"  value="'+ r._id +'" class="btn btn-default btn_postagem" >Comentar</button>' +
										'</div>'+
									'</div>'
								)

								if(r.comentarios != undefined){

									r.comentarios.forEach(rc =>{
										
										$('#comentarios_' + r._id).append(
											'<div class="txt_comentario">' + 
												'<strong>'+ rc.usuario +': '+ '</strong>' +
												rc.comentario +
											'</div>'
										)

										
									});
								}
							});


							//adicionando comentarios da publicacao
							$(".btn_postagem").click(function(){

								//capturando comentario da publicacao
								const id_publicacao = this.value;
								const id_comentario = "comentario_" + id_publicacao;
								const comentario = document.getElementById(id_comentario).value;
								const usuario = '<%=user%>';

								const xhr = new XMLHttpRequest();


								xhr.onload = function(){

									if(xhr.status == 200){
										window.location.href = "/home"
									}
								}

								xhr.open('PUT','http://localhost:3000/api/'+ id_publicacao);
								xhr.setRequestHeader('Content-Type', 'application/json');
								xhr.send(JSON.stringify({comentario: comentario, usuario: usuario}));

							});

						}
					}

					//iniciando o request
					xhr.open('GET',"http://localhost:3000/api");
					xhr.send();

				}

				carregarPublicao()

				$('#btn_incluir').click(function(){
					$('#container_timeline').hide();
					$('#container_form').show();
				});

				$('#btn-cancelar-publicacao').click(function(){
					$('#container_timeline').show();
					$('#container_form').hide();
					return false;
				});

				//fará um request via xmlHTTPRequest para api servidor para adicionar uma publicao
				$('#btn-publicar').click(function(){

					//criar um form Data
					const dataFrom = new FormData();

					const arquivo = document.getElementById("arquivo").files[0];
					const titulo = document.getElementById("titulo").value;

					dataFrom.append("arquivo",arquivo);
					dataFrom.append("titulo",titulo);

					//criando xmlHTTPRequest
					const xhr = new XMLHttpRequest();

					//verificando a mudança de estado
					xhr.onreadystatechange = function(){
						if(xhr.readyState == 4){
							const response = xhr.responseText;

							document.getElementById("mensagem").innerHTML = "publicação realizada!"
						}
					}

					//enviando request para a api
					xhr.open("POST","http://localhost:3000/api")
					xhr.send(dataFrom);
				});

				
			});
		</script>

	</head>

	<body>

		<nav class="navbar navbar-default">
			<div class="container">
				<div class="col-md-12">
					<div class="container-fluid">
						<img alt="Instagram Clone - Versão WEB" src="images/logo2.jpg" class="logo2">
						<img alt="Incluir" src="images/incluir.jpg" class="pull-right btn-incluir" id="btn_incluir">						
					</div>
				</div>
			</div>
		</nav>

		<div class="container">
			<div class="col-md-2"></div>
			<div class="col-md-8" id="container_timeline"></div>
			
		</div>


		<div class="container" style="display:none" id="container_form">
			<div class="panel panel-default">

			<div class="panel-heading"><h4>Publicar uma foto</h4></div>
			
			<div class="panel-body">
				<div class="form-group">
					<input type="file" name="arquivo" id="arquivo" class="form-control">
				</div>

				<div class="form-group">
					<input type="text" name="titulo" id="titulo" class="form-control" placeholder="Titulo" autocomplete="off">
				</div>

				<div class="form-group">
					<button class="btn btn-success" id="btn-publicar">Publicar</button>
					<button class="btn btn-danger" id="btn-cancelar-publicacao">Cancelar</button>
				</div>
				<div id="mensagem"></div>
			</div>
		</div>
	</body>
</html>